@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

img{
    position: relative;
    float:  left; 
}

.container{
    width: 100%;    
    display: flex;
    justify-content: space-between;
}

.username{
        font-size: 400%;
        color: white;
        font-family: 'Anton', sans-serif;
        position: relative;
        top: 50px;
        margin-right: 20px;
}