.app {
  text-align: center;
  min-height: 570px;
  background-color: #2a2a2a;
}

.playerButtons{
  width: 80%;
  margin-left: 10%;
  height: auto;
  padding-top: 20px;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


