.app {
  text-align: center;
  height: 512px;
}
img{
  height: 110px;
}
.modeContainer {
  background-color: whitesmoke;
  width: min-content;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid gray;
}

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  background-color: #2a2a2a;
  padding: 5px;
  justify-content: space-between;
}

link {
  color: #61dafb;
}

.loading {
  display: flex;
  position: relative;
  justify-content: center;
  min-width: 1225px;
  min-height: 450px;
}
.loading div{
  display: flex;
  position: relative;
  margin-top: 160px;
  width: 16px;
  background: rgb(49, 49, 49);
  animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loading div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loading div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loading {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}