.userElement {
    width: 400px;
    height: 170px;
    background-color: rgb(199, 70, 70);
    margin: 15px auto;
    border-radius: 15px;
    border: 10px solid rgb(216, 216, 216);
}

.userElement:hover{
    background-color: rgb(110, 27, 27);
    
}
.name{
    color: rgb(216, 216, 216);
    font-size: 350%;
    height: 70px;
    position: relative;
    top: 40px
}


