@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.FirstStatContainer{
    width: 650px;
    height: 500px;
    background-color: whitesmoke;
    margin: 10px 0px 10px 50px;
}

.FirstStatMode{
    width: 150px;
    height: 60px;
    background-color: whitesmoke;
    text-align: center; /* orizzontale */
    line-height: 60px; /* verticale */
    font-weight: bolder;
    font-size: 400%;
    color: rgb(75, 75, 75);
    font-family: 'Anton', sans-serif;
}

.FirstStatKill{
    position: relative;
    left: 50px;
    width: 180px;
    height:180px;
    text-align: center; /* orizzontale */
    line-height: 180px; /* verticale */
    border-radius: 50%;
    background-color: rgb(75, 75, 75);
    font-size: 300%;
    color: white;
    font-family: 'Anton', sans-serif;
    box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC
}
.FirstStatKill::after{
    content: " kill ";
    color: white;
    display: none;
}
.FirstStatKill:hover{
    background-color: rgb(77, 113, 233);
    color: rgb(241, 199, 62);
    transition: 0.3s ease-out;
    transform: scale(1.3, 1.3);
}
.FirstStatKill:hover::after{
    display: contents;
    color: rgb(241, 199, 62);
    transition: 0.3s ease-out;
}


.FirstStatMatchesPlayed{
    position: relative;
    top: -330px;
    left: 60px;
    width: 200px;
    height: 200px;    
    text-align: center; /* orizzontale */
    line-height: 200px; /* verticale */
    border-radius: 50%;
    background-color: rgb(75, 75, 75);
    font-size: 240%;
    color: white;
    font-family: 'Anton', sans-serif;
    box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC
}
.FirstStatMatchesPlayed::after{
    content: " matches ";
    color: white;
    display: none;
}
.FirstStatMatchesPlayed:hover{
    background-color: rgb(233, 77, 103);
    color: rgb(62, 95, 241);
    transition: 0.3s ease-out;
    transform: scale(1.3, 1.3);
}
.FirstStatMatchesPlayed:hover::after{
    display: contents;
    color: rgb(62, 95, 241);
    transition: 0.3s ease-out;
}


.FirstStatWin{
    position: relative;
    left: 250px;
    top: -170px;
    width: 350px;
    height:350px;
    text-align: center; /* orizzontale */
    line-height: 350px; /* verticale */
    border-radius: 50%;
    background-color: rgb(75, 75, 75);
    font-size: 500%;
    color: white;
    font-family: 'Anton', sans-serif;
    box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC
}
.FirstStatWin::after{
    content: " win ";
    color: white;
    display: none;
}
.FirstStatWin:hover{
        background-color: rgb(88, 167, 57);
        transition: 0.3s ease-out;
        color: whitesmoke; 
        transform: scale(1.3, 1.3);      
}
.FirstStatWin:hover::after{
    display: contents;
    transition: 0.3s ease-out;
}



