.container{
    width: 150px;
    height: 103px;
    background-color: rgb(75, 75, 75);
    border: 1px rgb(175, 175, 175) solid;
    text-align: center;
    padding: 0 auto;    
    text-align: center; /* orizzontale */
    line-height: 103px; /* verticale */
    font-weight: 900;
    font-size: x-large;
    color: whitesmoke;
}

.container:hover{
    background-color: rgb(112, 112, 112);
    color: rgb(250, 78, 78);
}

/*span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: auto;
    font-weight: 900;
    font-size: x-large;
    color: whitesmoke;
}*/


