
.container{
    width: 400px;
    background-color: whitesmoke;
    padding: 10px;
    border: 2px solid #424242;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
	
}
.stat{
    width: 90%;
    height: 50px;
    margin: 2px;
    background-color: #a3a3a3;
    border: 1px solid #424242;
    border-radius: 5px;
    font-family: "Anton" sans-serif;
    font-size: 150%;
    font-weight: bolder;
    color: rgb(58, 51, 51);
    text-align: center;
    line-height:50px;
}


.stat:hover{
    background-color: rgb(94, 105, 101);
    color: #000000;
    transition: 0.3s ease-out;
}

.score{
    width: 90%;
    height: 150px;
    background-color: #a3a3a3;
    border: solid 2px #424242;
    border-radius: 5px;
    font-family: "Anton" sans-serif;
    font-size: 300%;
    font-weight: bolder;
    color: rgb(158, 12, 12);
    line-height: 150px;
}

.score:hover{
    background-color: rgb(202, 193, 71);
    color: rgb(218, 0, 0);
    transition: 0.3s ease-in-out;
}

/*.stat:after{
    content: "";
    display: none;
}

.stat:hover::after{
    display: contents;
}
*/